<div id="user-sidebar">

    <div id="sidebar-overlay" class="sidebar-overlay"></div>

    <aside class="sidebar-panel">

        <div class="sidebar-header">

            <span id="sidebar-user-name">Імʼя</span>
            <span id="sidebar-user-discount">Знижка: 0%</span>

            <span id="sidebar-close">✕</span>

        </div>


        <div id="sidebar-guest" class="sidebar-menu">

            <button onclick="openLogin()">Увійти</button>
            <button onclick="openRegister()">Зареєструватися</button>

        </div>


        <div id="sidebar-user" class="sidebar-menu" style="display:none;">

            <a href="/account/account.html">Мій кабінет</a>

            <a href="#">Мій кошик</a>

            <a href="#">Мої замовлення</a>

            <a href="#">Мої персональні пропозиції</a>

            <a href="#">Мої сертифікати</a>

        </div>


        <div class="sidebar-menu">

            <a href="#">Програма лояльності</a>

            <a href="#">Переписка з Monal</a>

            <a href="#">Побажання щодо асортименту</a>

            <a href="#">Відгуки</a>

        </div>


        <div id="sidebar-logout" class="sidebar-menu" style="display:none;">

            <button onclick="logoutUser()">Вийти</button>

        </div>

    </aside>

</div>
